<div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
            <label for="firstName">Prénom</label>
            <input type="text" id="firstName" class="form-control" formControlName="firstName">
        </div>
        <div class="form-group">
            <label for="firstName">Nom</label>
            <input type="text" id="lastName" class="form-control" formControlName="lastName">
        </div>
        <div class="form-group">
            <label for="firstName">Email</label>
            <input type="text" id="email" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
            <label for="DrinkPreference">quelle boisson préférez-vous?</label>
            <select class="form-control" id="drinkPreference" formControlName="drinkPreference">
                <option value="Coca">Coca</option>
                <option value="Pepsi">Pepsi</option>
            </select>
        </div>
        <div formArrayName="hobbies">
            <h3>Vos hobbies</h3>
            <div class="form-group" *ngFor="let hobbyControl of getHobbies().controls; let i = index">
              <input type="text" class="form-control" [formControlName]="i">
            </div>
            <button type="button" class="btn btn-success mb-2" (click)="onAddHobby()">Ajouter un hobby</button>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">Soumettre</button>
    </form>
</div>